/*
Theme Name:         AnlitaOss
Theme URI:          http://www.vektorgrafik.se
Description:        Vektorgrafik Stockholm AB-
Version:            2.0
Author:             Vektorgrafik Stockholm AB
Author URI:         http://www.vektorgrafik.se
*/

/*@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);*/

@font-face {
  font-family: 'anlitaoss';
  src:  url('lib/fonts/anlitaoss.eot?ad05xp');
  src:  url('lib/fonts/anlitaoss.eot?ad05xp#iefix') format('embedded-opentype'),
    url('lib/fonts/anlitaoss.ttf?ad05xp') format('truetype'),
    url('lib/fonts/anlitaoss.woff?ad05xp') format('woff'),
    url('lib/fonts/anlitaoss.svg?ad05xp#anlitaoss') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'anlitaoss' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hash:before {
  content: "\e900";
}
.icon-contact:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e902";
}
.icon-map-pin:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-down:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}

html {
	position: relative;
	min-height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background: #fff;
	font: normal 18px / 1.4em "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #383c40;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
	border-radius: 5px; 
	border: 2px solid #FFF;
	background: #fff;
	color: #333;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	overflow: hidden;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
	/* border-color: ... !important; */
}


/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
	cursor: help;
	margin-left: 4px;
}

/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
	padding: 0;
	font-size: 0;
	line-height: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999999;
	pointer-events: none;
	width: auto;
	overflow: visible;
}
.tooltipster-base .tooltipster-content {
	overflow: hidden;
}


/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
	display: block;
	width: 0; 
	height: 0;
	position: absolute;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-top: 8px solid;
	bottom: -7px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-top: 9px solid;
	bottom: -7px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-bottom: 8px solid;
	top: -7px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-bottom: 9px solid;
	top: -7px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
	left: 0;
	right: 0;
	margin: 0 auto;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
	left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	left: 5px;
}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {
	right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
	right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-left: 8px solid;
	top: 50%;
	margin-top: -7px;
	right: -7px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-left: 9px solid;
	margin-top: -8px;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-right: 8px solid;
	top: 50%;
	margin-top: -7px;
	left: -7px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-right: 9px solid;
	margin-top: -8px;
}


/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */

.tooltipster-fade {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}
.tooltipster-fade-show {
	opacity: 1;
}

.tooltipster-grow {
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
	opacity: 0;
	-webkit-transform: rotateZ(4deg);
	-moz-transform: rotateZ(4deg);
	-o-transform: rotateZ(4deg);
	-ms-transform: rotateZ(4deg);
	transform: rotateZ(4deg);
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
}
.tooltipster-swing-show {
	opacity: 1;
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
	top: 0;
	-webkit-transition-property: top;
	-moz-transition-property: top;
	-o-transition-property: top;
	-ms-transition-property: top;
	transition-property: top;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
}
.tooltipster-fall-show {
}
.tooltipster-fall.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	top: 0px !important;
	opacity: 0;
}

.tooltipster-slide {
	left: -40px;
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-o-transition-property: left;
	-ms-transition-property: left;
	transition-property: left;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show {
}
.tooltipster-slide.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	left: 0px !important;
	opacity: 0;
}


/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
	opacity: 0.5;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}



.inline-block-row {
	font-size:0;
}

.inline-block {
	float:none;
	display:inline-block;
	font-size:1.2rem;
	vertical-align:top;
}

.box {
	background: #fff;
    margin-bottom: 1em;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 2px 1px 0px rgba(50, 50, 50, 0.15);
	box-shadow:         0px 2px 1px 0px rgba(50, 50, 50, 0.15);
}

/*
 * Selection
 */

::-moz-selection{
	background:#b5b5b5;
	color:#fff;
	text-shadow:none;
}
::selection	{
	background:#b5b5b5;
	color:#fff;
	text-shadow:none;
}

/*
 * Links
 */

a {
	color: #F88E4F;
	text-decoration: none;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	transition: color 0.2s;
}

a:active,
a:visited {
	text-decoration: none;
}

a:hover,
a:focus {
	color: #76848c;
	text-decoration: none;
}

/*
 * Typography
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: 'ff-market-web', cursive;
	font-weight: 200;
	margin: 0 0 .4em 0;
	line-height: 1.3em;
	color: #444;
}

h1.body-font, .h1.body-font,
h2.body-font, .h2.body-font,
h3.body-font, .h3.body-font,
h4.body-font, .h4.body-font,
h5.body-font, .h5.body-font,
h6.body-font, .h6.body-font {
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, .h1 {
	font-size: 4rem;
	margin:0 0 0.4em 0;
}

h2, .h2 {
	font-size:3.4em;
	margin:0 0 0.4em 0;
}

h3, .h3 {
	font-size: 2.75rem;
    letter-spacing: -0.03em;
	margin:0 0 0.5em 0;
}

h4, .h4 {
	font-size:2.2em;
	margin:0 0 0.5em 0;
}

h5, .h5 {
	font-size:1.6em;
	font-weight:400;
	margin:0 0 0.6em 0;
}

h6, .h6 {
	font-size:1.3em;
	font-weight:400;
	margin:0 0 0.7em 0;
}

/*
 * Paragraph
 */

.color-primary {
	color: #4B7993;
}

p {
	font-size: 1em;
	line-height: 1.7em;
	margin: 0 0 1.5em 0;
}

.intro {
	font-size:1.2em;
	line-height:1.6em;
	margin:0 0 1em 0;
}

.page-header .intro {
	color:#fff;
}

.strong {
	font-weight:bold;
}

.text-align-center {
	text-align: center;
}

/*
 * Lists
 */

ul, ol {
	list-style: none;
	margin: 0 0 1.5em 0;
	padding: 0;
}

li {
	margin: 0 0 .5em 0;
}

ul.list--horizontal {
	margin: 0;
}

ul.list--horizontal .list__item {
	display: inline-block;
    padding: 0 .4em;
}

ul.list--contact-details {
	margin: 0;
	font-size: .8885em;
}

li.list__item {
	margin-bottom: .15em;
}

ul.list--large-contact {
	margin-bottom: 0;
	list-style: none !important;
	margin-left: 0 !important;
}

ul.list--large-contact .list__item {
	margin-bottom: .5em;
	padding: .25em 0 0 0;
    font-size: .95em;
}

ul.list--contact-details .list__item:before,
ul.list--large-contact .list__item:before {
 	font-family: 'anlitaoss';
 	color: #4B7993;
 	position: relative;
 	margin-right: .35em;
 	margin-top: .5em;
 	top: .1em;
 }

ul.list--contact-details .list__item--name:before,
ul.list--contact-details .list__item--contact-person:before,
ul.list--large-contact .list__item--contact-person:before {
 	content: "\e901";
}

ul.list--contact-details .list__item--phone:before,
ul.list--large-contact .list__item--phone:before {
 	content: "\e907";
}

ul.list--contact-details .list__item--mail:before,
ul.list--large-contact .list__item--mail:before {
 	content: "\e902";
}

ul.list--contact-details .list__item--website:before,
ul.list--large-contact .list__item--website:before {
 	content: "\e904";
}

.blue-bg,
.about-us {
	position: relative;
	background: url(lib/img/services-bg-optimized.png) center center no-repeat;
	background-size: cover;
}

.top-section {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.home .top-section {
	padding: 22em 0;
	min-height: 100vh;
	color: white;
	text-align: center;
}
.home .top-section h1 {
	color: white;
	letter-spacing: -.03em;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
	margin-bottom: .3em;
}
.home .top-section .video-text p {
	color: white;
	letter-spacing: -.03em;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
	font-weight: 500;
	font-size: 1.3em;
	margin: 0 0 1em 0;
}

p.uppercase {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: -.03em;
	font-size: 1em;
	margin: 1em 0 .7em 0 !important;
}

@media(max-width: 680px) {
	.home .top-section,
	.top-section {
		padding-top: 20vh;
		padding-bottom: 10vh;
		min-height: none;
	}
}

nav.portal-nav {
	max-width: 270px;
	margin: 0 auto;
}
nav.portal-nav a {
	display: block;
	font-size: .8em !important;
	margin: 0 0 .7em 0 !important;
}

.top-section-content {
	position: relative;
	z-index: 200;
	color: white;
	text-align: center;
	padding: 15vh 0;
}
.top-section-content h1,
.top-section-content p {
	color: white;
}

.top-section .top-section-background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}


.gfield_html a.fancybox {
	position: relative;
	top: -20px;
	font-style: italic;
	color: white;
	line-height: 1;
	padding: 0;
}
.gfield_html a.fancybox:after {
	position: relative;
	content: "\e904";
	font-family: 'anlitaoss';
	top: 3px;
	left: 2px;
}

/*
 * Lines
 */

hr {
	border-width:0;
	height:1px;
	background:rgba(103, 116, 123, 0.1);
	margin:1.5em 0;
}

/*
 * Table
 */

.table {
	display:table;
	width:100%;
}

.table-row {
	display:table-row;
}

.table-cell {
	display:table-cell;
	vertical-align:middle;
}

.align-top {
	vertical-align:top;
}

.align-middle {
	vertical-align:middle;
}

.align-bottom {
	vertical-align:bottom;
}


.gmaps-label {
	margin-top: -33px !important;
	margin-left: -5px !important;
	color: white !important;
	font-weight: 700 !important;
	font-size: 1.5em !important;

}
.gmaps-label.hovered {
	background: url('lib/img/map-pin.png') no-repeat;
	background-size: cover;
	margin-top: -45px !important;
	margin-left: -18px !important;
	text-align: center;
	padding-top: 8px;
	width: 35px;
	text-shadow: 0 0 20px rgb(255, 255, 255);
}

.gmaps-company-label {
	position: relative;
	margin-top: -10px !important;
	margin-left: 10px !important;
	padding: 10px 6px;
	line-height: 0 !important;
	border-radius: 10px;
	background: white;
	color: #F88E4F;
	font-size: .8rem;
	font-weight: 700;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

nav.paging {
	text-align: center;
}
.paging__item {
	display: inline-block;
	padding: 5px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid transparent;
	line-height: 28px;
	font-size: 1em;
	color: #888;
	transition: .15s ease all;
}
.paging__item:hover,
.paging__item.is-active {
	color: #4C7993;
	border: 1px solid #4C7993;
	background: rgba(255, 255, 255, .3);
}
.paging__item.is-inactive {
	opacity: .5;
}
.paging__item.is-inactive:hover {
	border: 1px solid transparent;
	background: transparent;
	color: #888;
	cursor: default;
	pointer-events: none;
}

@media(max-width: 1024px) {

	.h3.results__heading {
		text-align: center;
		margin-bottom: 1em;
	}

	.results__service-sort {
		text-align: center !important;
	}

	nav.paging {
		margin: .5em 0 1.5em 0;
	}

	#google_map {
		max-width: 80%;
		max-height: 80vh;
		min-height: none;
		margin: 0 auto;
	}

}


.outer-results-wrap {
	position: relative;
}
.results-preloader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	opacity: 0;
}




.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #F88E4F;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}




@keyframes preloader {

	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}

}

.results-preloader span {
	width: 60px;
	height: 60px;
	background: #4C7993;
	border-radius: 50%;
	-webkit-animation: preloader 1.5s infinite ease-in-out;
	-o-animation: preloader 1.5s infinite ease-in-out;
	animation: preloader 1.5s infinite ease-in-out;
}

/*
 * Header
 */

#header {
	position: fixed;
	width: 100%;
	padding: 0em 0 1.5em 0;
	background: #fff;
	background: rgba(255, 255, 255, 0.93);
	z-index: 4000;
	-webkit-transition: all 0.9s cubic-bezier(.2, .6, .6, .9);
	-moz-transition: all 0.9s cubic-bezier(.2, .6, .6, .9);
	transition: all 0.9s cubic-bezier(.2, .6, .6, .9);
	-webkit-backface-visibility: hidden;
}

.home #header {
	margin-bottom: 0;
}

#header .row,
#header .column,
#header .columns,
#header #nav,
#header .menu {
	height: 100%;
}

#header {
	padding: 0;
	height: 100px;
	background-color:rgb(255, 255, 255); 
	box-shadow:0 0 1px 1px rgba(0,0,0,0); 
	overflow: hidden;
	transition: box-shadow .35s ease, height .35s ease;
}

body.state--scrolled #header {
	height: 70px;
	box-shadow:0 0 1px 1px rgba(0,0,0,.1);
}

#logo {
	position: absolute;
	display: block;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-image: url('lib/img/anlitaoss-logo.png');
	width: 272px;
	height: 62px;
	float: left;
	text-indent: -9999px;
	background-repeat: no-repeat;
	transition: height .35s ease;
}

.inlinesvg #logo {
	background-image: url('lib/img//anlitaoss-logo.svg');
}

body.state--scrolled #logo {
	height: 50px;
}

@media(max-width: 640px) {
	
	body.state--scrolled #header {
		height: 50px;
		box-shadow:0 0 1px 1px rgba(0,0,0,.1);
	}
	body.state--scrolled #logo {
		height: 31px;
	}

}

/*
 * Nav
 */

#nav {
	float: right;
}

#nav ul {
	margin: 0;
}

#nav ul li {
	float: left;
	margin: 0 0 0 1.5em;
}

#nav ul li:first-child {
	margin-left: 0;
}

#nav ul li a {
	display: block;
	position: relative;
	padding: .5em 0;
	color: #555;
	font-family: "proxima-nova", sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	letter-spacing: 0.02em;
	transition: .2s ease-in-out all;
	line-height: 1em;
}
#nav a:after {
	content: "";
	position: absolute;
	top: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 35px;
	height: 35px;
	background-size: contain;
	transition: .2s ease-in-out all;
}
#nav li.ikon-anslut a:after {
	background: url(../../../media/menu-icon-anslut.svg) no-repeat center center;
}
#nav li.ikon-om-oss a:after {
	background: url(../../../media/menu-icon-omoss.svg) no-repeat center center;
}
#nav li.ikon-foretagskatalog a:after {
	background: url(../../../media/menu-icon-foretagskatalog.svg) no-repeat center center;
}
#nav li.ikon-kontakt a:after {
	background: url(../../../media/menu-icon-kontakt.svg) no-repeat center center;
}

#nav ul li.active > a,
#nav ul li a:focus,
#nav ul li a:hover {
	color: #333;
	background: rgba(200, 200, 200, .15);
}

.single-companies #menu-item-158 a {
	color: #e67e22;
}

#google_map {
	min-height: 777px;
}

@media(max-width: 640px) {

	#google_map {
		max-width: 80%;
		min-height: 75vh;
		margin: 0 auto;
	}

}

/* Medium Displays: 640px and up */
@media only screen and (min-width: 640px) {

	#nav ul li {
	    float: left;
	    margin: 0;
	    padding: 0;
	    height: 100%;
	    border-left: 1px solid #eee;
	    transition: padding .35s ease;
	}
	#nav ul li a {
		padding: 3.5em 1.25em 1.5em 1em;
	}

	#nav ul li:last-of-type {
		border-right: 1px solid #eee;
	}

	body.state--scrolled #nav a:after {
		content: "";
		position: absolute;
		top: 8px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 25px;
		height: 25px;
		background-size: contain;
		transition: .2s ease all;
	}

	body.state--scrolled #nav ul li a {
		padding-top: 2em;
	}

}

/*
 * Content
 */

ul.gform_fields {
	list-style: none !important;
	margin: 0 !important;
}

#companies {
	background: #f5f5f5;
}

#content {
	position: relative;
	padding-top: 5.56em
}

.home #content {
	padding-top:0;
}

.entry-content {
	position: relative;
	z-index: 10;
	padding-bottom:1em;
	text-align: left;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	font-weight:300;
}

.entry-content h1 {
	font-size: 2.5em;
}

.entry-content h2 {
	font-size:1.8em;
}

.entry-content h3 {
	font-size:1.6em;
}

.entry-content h4 {
	font-size:1.4em;	
}

.entry-content h5 {
	font-size:1.2em;
}

.entry-content h6 {
	font-size:1em;
}

.entry-content ul,
.entry-content ol {
	margin:0 0 2em 1.5em;
}

.entry-content ul {
	list-style: square;
}

.entry-content ul li {
	font-size: .9em; 
	margin:0 0 .5em 0;
}

.entry-content ol {
	list-style: decimal;
}

.entry-content blockquote {
	border-left:4px solid #eee;
}

.time {
	display: block;
	font-size: 0.9em;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-bottom: 0.9375em;
	color: #666;
}

/*
 * Service splash
 */

.services-splash {
    display: block;
    border: 2px solid #4B7993;
    width: auto;
    position: absolute;
    background: #fff;
    top: 10%;
    right: -3px;
    padding: .85em 1.5em;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    text-align: center;
    transition: .2s ease all;
}
.services-splash:hover {

	border: 2px solid #F88E4F;

}
.services-splash:hover p {
	color: #F88E4F;
}

.services-splash p {
	color: #4B7993;
	margin-bottom: 0;
	font-size: .85em;
	line-height: 1.4em;
	transition: .2s ease all;
}

/*
 * Article
 */

.article-header {
	margin-top:-6.3em;
	padding:10em 0 4.5em 0;
	border-bottom:1px solid #EBECEA;
	text-align:center;
}

.article-header h1 {
	margin:0;
	color:#fff;
}

.article-header .time {
	display: block;
	margin-top: 0.9375em;
	margin-bottom: 0;
	color: #fff;
}

.article-content {
	padding:4em 0;
}

.article-content .content {
	margin:0 0 2em 0;
	padding:0 0 2em 0;
	border-bottom:1px solid #EBECEA;
}

/*
 * Tables
 */

.tablepress {
	font-size:0.9em;
}
 
.tablepress thead th {
	background:#68bd45;
	color:#fff;
}

.tablepress .row-hover tr:hover td, .tablepress tfoot th {
	background:#e9f9ff;
}


/*
 * Page
 */

.page-header {
	margin-top:-6.3em;
	padding:9em 0 3.5em 0;
	border-bottom:1px solid #EBECEA;
	text-align:center;
	background: url(http://montagejakt.vglabs.se/media/young-791849_19201.jpg); /*background image top malin*/
	background-repeat:repeat-x;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
}

.page-header h1,
.page-header p {
	margin:0;
}

.page-header hr {
	background:#EBECEA;
	max-width:100px;
	margin:1.2em auto;
}

.page-header-image h1 {
	color:#fff;
}


.page-content {
	padding:3em 0;
}

.page-content .table {
	width:100%;
	height:100%;
}

.page-content .content {
	
}

/*
* Search Frontpage
*/

.search-content {
	background-color: #fff;
/*	background-color: rgba(255, 255, 255, 0.5);*/
}

/*
 * Sidebar
 */

.sidebar {
	position:relative;
	-webkit-transition: margin 0.2s;
	-moz-transition: margin 0.2s;
	transition: margin 0.2s;
}

.sidebar.fixto-fixed {
	margin-top:1.5em;
}

.sidebar-content {
	background:#fff;
	text-align:center;
	margin: 0px auto 2em auto;
	font-size:0.8em;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.10);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.10);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.10);
	padding:1.5em;
}

.sidebar-content p {
	margin:0;
}

.sidebar h1 {
	font-size:2.4em;
}

.sidebar h2 {
	font-size:2em;
}

.sidebar h3 {
	font-size:1.6em;
	font-weight:300;
}

.sidebar ul {
	
}

.sidebar ul li {
	margin:0;
}

.sidebar ul li > ul {
	margin:0.25em 0 0 1.5em;
	color:#76848c;
}

.sidebar ul li > ul li > ul {
	margin-top:0;
}

.sidebar ul li > ul li {
	margin:0;
	font-size:0.9em;
}

.sidebar ul li a {
	display:block;
	width:100%;
	padding:0.7em 1em;
	margin:0 0 0.2em 0;
	background:#fff;
	color:#999;
	font-weight:bold;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	font-size:0.9em;
}

.sidebar ul li:first-child a {

}

.sidebar ul li a:focus,
.sidebar ul li a:hover {
	color:#383c40!important;
}

.sidebar ul li > ul li a {
	padding:0.6em 1em;
	border:none;
	font-size:0.85em;
}

.sidebar ul li > ul li a:hover {
	
}

.sidebar ul li > ul li > ul li a {
	padding:0.4em;
}

.sidebar ul li > ul li > ul li > ul li a {
	padding:0.4em;
}

.sidebar ul .current_page_item > a,
.sidebar ul .current_page_ancestor > a,
.single-post .sidebar .page-item-122 a,
.single-jobs .sidebar .page-item-123 a {
	color:#68bd45;
	border-left:5px solid #68bd45;
}

.sidebar ul li.current_page_ancestor:first-child a {
	border-left:none;
	color:#999;
}

.sidebar ul li.current_page_ancestor:first-child a:hover {
	color:#fff;
}

.sidebar ul .current_page_ancestor ul .current_page_item > a {
	color:#68bd45;
}

.sidebar ul .current_page_ancestor ul .current_page_item > a:hover {
	color:#fff;
}

.sidebar-companies {
	overflow: hidden;
	margin-bottom:1em;
}

.sidebar-companies .medium-6 .sidebar-content {
	padding-bottom:1em;
	margin-bottom:1em;
	border-bottom:1px solid #EBECEA;
}


.sidebar-companies h3 {

}

.sidebar-companies p {

}

.sidebar-companies .sidebar-content {
	border-bottom:none;
}

/*
 * Pagination
 */
 
.pagination {
	position:relative;
	padding:1em 0;
}

.pagination ul {
	margin:0;
}

.pagination li {
	display:inline-block;
	margin:0;
}

.pagination ul li .page-numbers {
	background:transparent;
	border:1px solid #383c40;
	color:#383c40;
	padding:0.4em 0.8em;
	font-weight:bold;
	font-size:0.9em;
	border-radius:3px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.pagination ul li .current,
.pagination ul li a.page-numbers:hover {
	background:#383c40;
	border-color:#383c40;
	color:#fff;
}


#main-preloader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999;
	width: 100vw;
	height: 100vh;
	background: white;
}


.divider {
	display: inline-block;
	padding: 0 0 30px 0;
	margin-bottom: 1em;
	position: relative;
	z-index: 10;
}
.divider:after {
	content: "";
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -75px;
	width: 150px;
    height: 10px;
    border: solid 4px #000;
    border-color: #4B7993 transparent transparent transparent;
    border-radius: 50%/10px 10px 0 0;
    transform: rotate(-3deg);
}

.entry-content .divider:after {
	left: 0;
	margin-left: 0;
}

.preloader {
	position: absolute;
	top: 160px;
	left: 0;
	height: 50px;
	width: 100%;
	margin-left: -13px;
	text-align: center;
}
.preloader span {
	position: absolute;
	top: 25px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	-webkit-animation: bubble .5s infinite; /* Safari 4+ */
	-moz-animation:    bubble .5s infinite; /* Fx 5+ */
	-o-animation:      bubble .5s infinite; /* Opera 12+ */
	animation:         bubble .5s infinite;
}
.preloader span:nth-of-type(1) {
	left: 50%;
	margin-left: -40px;
	background: #e67e22;
}
.preloader span:nth-of-type(2) {
	left: 50%;
	background: #f1c40f;
	animation-delay: .1s;
}
.preloader span:nth-of-type(3) {
	left: 50%;
	margin-left: 40px;
	background: #27ae60;
	animation-delay: .2s;
}

@-webkit-keyframes bubble {
	0% 		{ transform: scale(1); }
	50%		{ transform: scale(1.4); }
	99%		{ transform: scale(1); }
}
@-moz-keyframes bubble {
	0% 		{ transform: scale(1); }
	50%		{ transform: scale(1.4); }
	99%		{ transform: scale(1); }
}
@-o-keyframes bubble {
	0% 		{ transform: scale(1); }
	50%		{ transform: scale(1.4); }
	99%		{ transform: scale(1); }
}
@keyframes bubble {
	0% 		{ transform: scale(1); }
	50%		{ transform: scale(1.4); }
	99%		{ transform: scale(1); }
}

.section-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .8);
	background: repeating-linear-gradient(
	  45deg,
	  rgba(255, 255, 255, .8),
	  rgba(255, 255, 255, .8) 40px,
	  rgba(245, 245, 245, .9) 40px,
	  rgba(245, 245, 245, .9) 80px
	);
	top: 0;
	left: 0;
	z-index: 200;
}

.text-center {
	text-align: center;
}

.bg-pattern {
	background: url(lib/img/services-bg-optimized.png) bottom center no-repeat;
	background-size: cover;
}

#choose-main-service {
	position: relative;
	padding: 4em 0;
	background: url(lib/img/services-bg-optimized.png) bottom center no-repeat;
	background-size: cover;
}
@media(max-width: 640px) {
	#choose-main-service {
		padding: 4em 0 0 0;
	}
}

.main-service__title {
	color: #4B7993;
}

.grad-bg,
#choose-sub-service {
	position: relative;
	height: 0;
	overflow: hidden;
	color: white !important;
	transition: background 1s ease;
}
#choose-sub-service h2 {
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}
#choose-sub-service h2.divider:after {
	background: white;
}
#choose-sub-service.el {
	background: #e67e22; /* Old browsers */
	background: -moz-linear-gradient(top,  #e67e22 0%, #f49d50 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e67e22), color-stop(100%,#f49d50)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e67e22 0%,#f49d50 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e67e22 0%,#f49d50 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e67e22 0%,#f49d50 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e67e22 0%,#f49d50 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67e22', endColorstr='#f49d50',GradientType=0 ); /* IE6-9 */	

}
#choose-sub-service.maleri {
	background: #27ae60; /* Old browsers */
	background: -moz-linear-gradient(top,  #27ae60 0%, #4bc67f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#27ae60), color-stop(100%,#4bc67f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #27ae60 0%,#4bc67f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #27ae60 0%,#4bc67f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #27ae60 0%,#4bc67f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #27ae60 0%,#4bc67f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27ae60', endColorstr='#4bc67f',GradientType=0 ); /* IE6-9 */	
}
#choose-sub-service.vvs {
	background: #2980b9; /* Old browsers */
	background: -moz-linear-gradient(top,  #2980b9 0%, #4e9acc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2980b9), color-stop(100%,#4e9acc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2980b9 0%,#4e9acc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2980b9 0%,#4e9acc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2980b9 0%,#4e9acc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2980b9 0%,#4e9acc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2980b9', endColorstr='#4e9acc',GradientType=0 ); /* IE6-9 */	
}
#choose-sub-service.snickeri-golv {
	background: #f1c40f; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1c40f 0%, #f2d356 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1c40f), color-stop(100%,#f2d356)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1c40f 0%,#f2d356 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1c40f 0%,#f2d356 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1c40f 0%,#f2d356 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1c40f 0%,#f2d356 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1c40f', endColorstr='#f2d356',GradientType=0 ); /* IE6-9 */	
}

.grad-bg.dark {
	background: #d9e4e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #d9e4e8 0%, #f3f8fa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9e4e8), color-stop(100%,#f3f8fa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d9e4e8 0%,#f3f8fa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d9e4e8 0%,#f3f8fa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d9e4e8 0%,#f3f8fa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d9e4e8 0%,#f3f8fa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e4e8', endColorstr='#f3f8fa',GradientType=0 ); /* IE6-9 */	
}

.grad-bg {
	height: auto;
}
.sub-services-wrap:after {
	content: "";
	display: table;
	clear: both;
}
.main-service-caption {
	font-family: "proxima-nova";
	display: inline-block;
	margin: .6em 0;
    font-size: 1.35em;
	color: #4C7993;
}

.service-item {
	padding-top: .55em;
	padding-bottom: .55em;
}

/* Autocomplete results and forms */
.twitter-typeahead {
	display: block !important;
}
.tt-wrapper {
	display: none;
}

.tt-menu {
	background: white;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
	width: 100%;
	max-height: 200px;
	overflow-y: scroll;
	z-index: 200;
	font-size: .9em;
}
.tt-suggestion {
	color: #333;
	text-align: left;
	padding: 13px;
	border-bottom: 1px solid #eee;
	font-weight: 700;
}
.tt-suggestion:hover,
.tt-suggestion.tt-cursor {
	background: #333;
	color: white;
	cursor: pointer;
}

/* Service checkboxes */
.service-checkbox {
	position: absolute;
	left: -9999px;
}

.service-checkbox + label {
	content: "";
	display: block;
	transition: .15s ease-in-out all;
	box-shadow: 0 0 0 0 #F88E4F;
	cursor: pointer;
	padding: .5em;
	border-radius: 10px;
}

.service-checkbox + label .icon-wrap {
	content: "";
	display: block;
	width: 50px;
	height: 50px;
	padding: 2px;
	margin-right: 1em;
	float: left;
	transition: .15s ease all;
	cursor: pointer;
	position: relative;
}

.service-icon {
	max-width: 40px;
    max-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Bygg svg */
.service-checkbox + label:hover,
.service-checkbox:checked + label {
	background: white;
	box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, .2);
}

@media(max-width: 680px) {
	
	.service-checkbox + label .icon-wrap {
		display: block;
		float: none;
		margin: 10px auto 0 auto;
	}

	.service-icon {
		position: relative;
		top: 0;
		transform: none;
	}

	.service-checkbox + label {
		width: 100%;
		text-align: center;
		margin: 0;
	}

	.service-item {
		border-bottom: 1px solid #ddd;
		border-right: 1px solid #ddd;
		padding-top: 0;
		padding-bottom: 0;
	}
	.service-item:nth-last-child(2),
	.service-item:nth-last-child(1) {
		border-bottom: none;
	}
	.service-item:nth-child(2n+2) {
		border-right: none;
	}

	.service-item .service-checkbox + label:hover,
	.service-item .service-checkbox:checked + label {
		background: white;
		border-radius: 0 !important;
		box-shadow: none !important;

	}

	.service-item label:hover {
		background: transparent;
		box-shadow: none;
	}

	.services-splash {
	    display: block;
	    border: none;
	    width: auto;
	    position: relative;
	    background: #4B7993;
	    top: 0;
	    right: 0;
	    padding: .85em 1.5em;
	    border-top-left-radius: 0; 
	    border-bottom-left-radius: 0; 
	    text-align: center;
	    transition: .2s ease all;
	    color: white;
	}

	.services-splash p {
		color: white;
	}

	.services-splash:hover {
		border: none;
	}
	.services-splash:hover p {
		color: white;
	}

	svg {
		width: 100%;
	}
}

section#choose-city-container {
	padding: 10em 0 20em 0;
	display: none;
}
.main-action {
	background: #27ae60;
	color: white;
	display: inline-block;
	z-index: 200;
	text-align: center;
	font-size: 1.1em;
	font-weight: 700;
	margin: 0 15px 15px 0;
	padding: 1em 1.5em;
	text-transform: uppercase;
	-webkit-transition: .25s ease all;
	-o-transition: .25s ease all;
	transition: .25s ease all;
}
@media(max-width: 680px) {
	.main-action {
		display: block;
		margin: 20px;
	}
}
.main-action:active,
.main-action:focus,
.main-action:hover {
	color: white;
	background: #2ecc71;
}
.main-action i {

}
.input-large-white {
	color: #333;
	background: white;
	border: 2px solid rgba(0, 0, 0, .4);
	box-shadow: 4px 4px 0px rgba(0, 0, 0, .09);
	-webkit-transition: .25s ease all;
	-o-transition: .25s ease all;
	transition: .25s ease all;
	padding: 20px;
	font-weight: 700;
}
.input-large-white:focus {
	color: #333 !important;
	background: rgba(255, 255, 255, 1) !important;
}
.input-large-white::-webkit-input-placeholder {
	color: rgba(0, 0, 0, .4);
	text-transform:uppercase;
	letter-spacing:0.1em;
}

.input-large-white::-moz-placeholder {
	color: rgba(0, 0, 0, .4);
	text-transform:uppercase;
	letter-spacing:0.1em;
}

.input-large-white:-moz-placeholder {
	color: rgba(0, 0, 0, .4);
	text-transform:uppercase;
	letter-spacing:0.1em;
}

.input-large-white:-ms-input-placeholder { 
	color: rgba(0, 0, 0, .4);
	text-transform:uppercase;
	letter-spacing:0.1em;
}

.sub-service-item {
	display: none;
	float: left;
	width: 33.3333333%;
	padding: 10px;
}
	@media(max-width: 1024px) {
		.sub-service-item {
			width: 50%;
		}
	}
	@media(max-width: 680px) {
		.sub-service-item {
			width: 100%;
			float: none;
			display: block;
		}
	}


input.sub-service-input {
	position: absolute;
	left: -9999px;
}

input.sub-service-input + label {
	display: block;
	color: #444;
	text-align: left;
	padding: 15px;
	font-size: .9em;
	font-weight: 700;
	-webkit-transition: .1s ease-in-out all;
	-o-transition: .1s ease-in-out all;
	transition: .1s ease-in-out all;
	cursor: pointer;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 2px 2px 0 rgba(0, 0, 0, .05);
	border-bottom: 1px solid white;
	background: rgba(255, 255, 255, .9);
}
input.sub-service-input + label:before {
	content: '\f058';
	font-family: 'FontAwesome';
	margin-right: 10px;
	color: white;
}

input.sub-service-input + label.no-exist {
	opacity: .3;
	cursor: default !important;
}

.sub-service-button {
	display: block;
	background: #f1f1f1;
	color: #666;
	padding: 15px;
	font-size: .9em;
	font-weight: 700;
	-webkit-transition: .2s ease all;
	-o-transition: .2s ease all;
	transition: .2s ease all;
}

.sub-service-button:hover {
	background: #3c9ad7;
	color: white;
}

#results {
	position: relative;
	height: 0;
	overflow: hidden;
	background: #F7F7F6;
	transition: height 1s ease-in-out;
}
#results.populated {
	height: auto;
	overflow: visible;
}

.results__service-sort {
	position: relative;
	text-align: right;
}

.postal-number-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #4C798D;
	z-index: 200;
	text-align: center;
	padding: 1.6em;
	color: white;
	display: none;
}
.postal-number-wrap .btn.btn-large {
	margin: 0;
}
a.close-modal {
	position: absolute;
	top: 20px;
	right: 20px;
	color: white;
}

.zip-code-submit,
.zip-code-input {
	display: inline-block;
	margin: 0 20px;
	max-width: 150px;
	padding: 15px;
	background: white;
	border: none;
	border-radius: 40px;
	font-size: 22px;
	font-weight: 700;
}

.results__header {
	position: relative;
	border-top: 2px solid #E9E9E8;
    border-bottom: 2px solid #E9E9E8;
    padding: 1.5em 0;
}

.results__heading {
	margin-bottom: .15em
}

@media(max-width: 680px) {
	.results__heading {
		text-align: center;
		margin-bottom: .5em;
	}
	.results__service-sort {
		text-align: center;
	}

	.zip-code-input {
		margin-bottom: .5em;
		max-width: 221px;
		padding: 25px 15px;
	}
	.postal-number-wrap {
		height: auto !important;
	}

}

.text-white {
	color: white;
}
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p {
	color: white;
}

.results__wrap {
	padding-top: 2.25em;
    padding-bottom: 2.25em;
}

.result__item {
	display: flex;
	background: #fff;
    margin-bottom: 1em;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 2px 1px 0px rgba(50, 50, 50, 0.15);
	box-shadow:         0px 2px 1px 0px rgba(50, 50, 50, 0.15);
	min-height: 198px;
}

.result__image {
    min-width: 175px;
    align-self: stretch;
    border-right: 1px solid #F7F7F6;
    background-repeat: no-repeat;
    background-size: cover;
}

.result__content {
	padding: 1em;
	width: 100%;
	position: relative;
}

.result__content a:not(.btn) {
	color: #383c40;
}

.result__content .btn {
	position: absolute;
    right: 1.2em;
    bottom: 1.2em;
}

.result__company-heading {
	font-family: "proxima-nova";
	font-weight: 800;
    letter-spacing: -.02em;
    font-size: 1.15em;
    margin-bottom: 0;
}
.result__company-heading a:hover {
	color: #666;
}

.result__count {
	color: #F48948;
    font-weight: 400;
    margin-right: .35em;
}

.result__area {
	display: block;
    font-weight: 500;
    font-size: .7em;
    color: #757676;
    margin-bottom: 1.5em;
}

@media(max-width: 680px) {
	.result__image {
		min-width: 100px;
		background-position: center center;
	}
	.result__content .btn {
		position: relative;
	    right: 0;
	    bottom: 0;
	    margin-top: .5em;
	}
} 

.result-item.active {
	border-bottom: none;
	box-shadow: none;
}
.result-item.active:hover {
	box-shadow: none;
}

.result-item-details {
	display: none;
	background: #383c40;
	padding: 50px;
	color: white;
}
.result-item-details h4 {
	color: white;
}

.result-item .arrow-down {
	float: right;
	font-size: 2em;
	text-align: right;
	display: inline-block;
	-webkit-transition: .35s ease all;
	-o-transition: .35s ease all;
	transition: .35s ease all;
}
.result-item.active .arrow-down {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.price-tag {
	display: inline-block;
	padding: 6px 9px 4px 9px;
	font-size: .9em;
	float: right;
	background: #27ae60;
	color: white;
	font-weight: 700;
	letter-spacing: -.03em;
	border-radius: 40px;
}


/*
 * Search
 */

.search-form {
	overflow:hidden;
	clear:both;
	padding:0 1.5em;
	font-size:0.9em;
	margin-bottom:1.5em;
}

.search-form .search-input {
	width:90%;
	float:left;
	margin-bottom:0;
	border:1px solid #d3e4ef;
	height:61px;
	border-right:none;
	border-radius:5px 0 0 5px;
}

.search-form .search-submit {
	background: #68bd45;
	color:#fff;
	width:10%;
	float:right;
	padding:1em 0;
	font-weight:normal;
	text-transform: uppercase;
	margin-bottom:0;
	height:61px;
	border-radius:0 5px 5px 0;
}


.search-form .search-submit:hover,
.search-form .search-submit:focus {
	background:#383c40;
	border-color:#383c40;
	color:#fff;
}

.companies-search-form {
	background:#fff;
	margin:0 0 1.5em 0;
	border-bottom: 1px solid #d3e4ef;
	position:relative;
}

.companies-search-form a {
	font-size:0.8em;
	position:relative;
	margin-top:1.5em;
	bottom:1em;
	left:1.5em;
	display:block;
}

.form-title {
	padding:0.8em 1.5em;
	display:inline-block;
	float:left;
	text-transform: uppercase;
	font-size:0.8em;
	cursor:pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	border: 1px solid #d3e4ef;
}

.form-title:hover {
	background:#fff;
}

.search-form-heading {
	background:#d3e4ef;
	margin-bottom:1.5em;
	overflow:hidden;
}

.search-form-heading .active {
	background:#fff;
}

.search-form-advanced {
	display:none;
}

.search-form-advanced label {
	display: inline-block;
	margin:0.3em 0;
	font-size:0.8em;
}

.search-form-advanced .form-subheading {
	display: inline-block;
	font-weight: 600;
	margin-bottom:0.5em;
	font-size:0.8em;
}

.search-form-advanced .factoringtyp {
	margin-right:1em;
}

.search-form-advanced .factoringcompany {
	margin-right:1em;
}

.search-form-advanced .offer_services {
	border-top:1px #d3e4ef solid;
}

.search-form-advanced .midrow {
	border-bottom:1px #d3e4ef solid;
	padding:1em 0;
}

.search-form-advanced .lastrow {
	padding:1em 0;
}

.search-form-header {
	height:50px;
	overflow:hidden;
	-webkit-transition: all 0.4s cubic-bezier(.2, .6, .6, .9);
	-moz-transition: all 0.4s cubic-bezier(.2, .6, .6, .9);
	transition: all 0.4s cubic-bezier(.2, .6, .6, .9);
}

.search-form-header form {
	float:right;
	margin-bottom:0;
	margin-top:0.8em;
}

.search-form-header input[type="search"] {
	padding:0 0.8em;
	height:24px;
	font-size:0.65em;
	font-weight: bold;
	color: #343434;
	width:200px;
	float:left;
	border-right:none;
	-webkit-border-radius: 20px 0px 0px 20px;
	-moz-border-radius: 20px 0px 0px 20px;
	border-radius: 20px 0px 0px 20px;
}

.search-form-header .btn {
	background-color:#fff;
	background-image: url('lib/img/icon-search.png');
	background-repeat:no-repeat;
	background-position:center -24px;
	float:left;
	height:24px;
	padding:0 0.8em;
	border:1px solid #B7B9B9;
	-webkit-border-radius: 0 20px 20px 0;
	-moz-border-radius: 0 20px 20px 0;
	border-radius: 0 20px 20px 0;
	text-indent:-9999px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.inlinesvg .search-form-header .btn {
	background-image: url('lib/img/icon-search.svg');
}

.search-form-header .btn:hover {
	background-color:#68bd45;
	background-position:center 0;
	border-color:#68bd45;
}

.search-form-advanced .search-submit {
	border-radius:5px;
}

.align-right {
	text-align: right;
}

/*
 * Section About
 */

 .section-about {
 	background-color: #4B7993;
 	position: relative;
 	overflow: hidden;
 }

.section-about:before {
 	background-color: #4B7993;
 	position: relative;
 	content: '';
    display: block;
    position: absolute;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background: #4F88A8;
    top: -20%;
    left: -10%;
    z-index: 1;
 }

 .section-about p {
 	position: relative;
 	z-index: 2;
 }

 .section-about:after {
 	background-color: #ffffff;
 	position: relative;
 	content: '';
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: 60%;
    left: -10%;
    opacity: .15;
 }

.section-about__title {
	color: white;
}

.section-about__title.divider {
	margin-bottom: 1em;
}

.section-about__title.divider:after {
	border-color: #fff transparent transparent transparent;
}

 .section-about p {
 	color: #ffffff;
 }

.contact-block.box h3.company-content__title {
	margin-top: 0 !important;
}

/*
 * Article post
 */

article.post {
	padding:0 0 1.5em 0;
	margin:0 0 1.5em 0;
	border-bottom:1px solid rgba(103, 116, 123, 0.1);
}

article.post p {
	margin:0;
}

article.post .thumbnail {
	background:#fff;
	width:150px;
	height:150px;
	float:left;
	margin:0 1.5em 0 0;
}

.readmore {
	font-weight:bold;
	text-transform:uppercase;
	color:#50b8e8;
	font-size:0.9em;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	transition: color 0.2s;
}

/***************************
COMPANY SINGLE PAGE
***************************/

.top-section--company {
	height: 45vh;
	min-height: 300px;
	background-size: cover;
	background-position: center center;
}

.company-content-header {
	padding-top: 1.25em;
	padding-bottom: 1.25em;
}

.company-content-header > .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.company-content-header .column,
.company-content-header .columns {
	-ms-flex-item-align: center;
	    align-self: center;
}

@media(max-width: 680px) {

	.company-content-header > .row {
		display: block;
	}
	.h2.company-content-header__title,
	h2.company-content-header__title {
		font-size: 1.5em;
		text-align: center;
		margin: .5em 0;
	}

	.list--horizontal.list--menu {
		text-align: center;
	}
	.list--horizontal.list--menu .list__item:nth-child(n+2):before {
		content: "•";
		position: relative;
		left: -10px;
	}

	.bgvideo .h1.video-title {
		line-height: 1.2em;
		margin-bottom: 1em;
	}

}

.company-content ul {
	list-style: disc;
	margin-left: 1.5em;
}

.preamble p {
	font-size: 1.2em;
}

.company-content h2.company-title {
	margin-top: 0 !important;
	font-size: 2.8rem !important;
}


.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.company-content h2,
.company-content h3,
.company-content h4,
.company-content h5,
.company-content h6 {
	font-family: 'proxima-nova';
	margin: 1em 0 .15em 0;
}

.company-content .h3,
.company-content h3 {
	font-size: 2rem;
	margin: 1em 0 .2em 0;
}
.company-content .h4,
.company-content h4 {
	font-size: 1.5rem;
	margin: 1em 0 .2em 0;
}


.company-content-header a {
	color: #444;
}

.company-content-header__title {
	margin-bottom: 0;
    font-size: 1.5em;
    font-family: 'proxima-nova';
    letter-spacing: -.03em;
    font-weight: 400;
}

.contact-block {
	padding: 2em;
	border: 1px solid #eeeeee;
}

.company-content-header, .company-image-section {
	background-color: #F7F7F6;
	border-top: 1px solid #E9E9E8;
	border-bottom: 1px solid #E9E9E8;
}

.gallery__item {
	margin-bottom: 1%;
}

/*.gallery__image {
	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}*/

.gutter-sizer {
	width: 1%;
}
.grid-sizer {
	width: 30%;
}

.gallery .gallery__item {
    width: 30%;
}

/*
@media only screen and (min-width: 450px) {

	.gallery--count-3 .gallery__item,
	.gallery--count-5 .gallery__item {
	    
	}

	.gallery--count-3 .gallery__item-1,
	.gallery--count-5 .gallery__item-1 {
	    width: 100%;
	    height: 250px;
	}

}

@media only screen and (min-width: 800px) {

	.gallery--count-6 {
		height: 400px;
	    position: relative;
	}
	.gallery__item {
		
	}
	.gallery--count-6 .gallery__item-1 {
		height: 100%;
	    width: calc(100% / 2);
	}
	.gallery--count-6 .gallery__item-2 {
	    height: 50%;
	    width: calc(100% / 3);
	    left: calc(100% / 2);
	}
	.gallery--count-6 .gallery__item-3 {
	    height: calc(100%/3);
	    width: calc(100% / 6);
	    left: calc(100% - ( 100%/6) );
	}
	.gallery--count-6 .gallery__item-4 {
	    height: 50%;
	    width: calc(100% / 3);
	    left: calc(100% / 2);
	    top: 50%;
	}
	.gallery--count-6 .gallery__item-5 {
	    height: calc(100%/3);
	    width: calc(100% / 6);
	    left: calc(100% - ( 100%/6) );
	    top: calc(100%/3);
	}
	.gallery--count-6 .gallery__item-6 {
	    height: calc(100%/3);
	    width: calc(100% / 6);
	    left: calc(100% - ( 100%/6) );
	    top: calc(100% - (100%/3));

	}

}

@media only screen and (min-width: 800px) {

	.gallery--count-5 {
		height: 450px;
	    position: relative;
	}
	.gallery__item {
		position: absolute;
	}
	.gallery--count-5 .gallery__item-1 {
	    height: 100%;
	    width: calc(100% / 3);
	}
	.gallery--count-5 .gallery__item-2 {
		height: 50%;
		width: calc(100% / 3);
		left: calc(100% / 3);
	}
	.gallery--count-5 .gallery__item-3 {
	    height: calc(100%/2);
	    width: calc(100% / 3);
	    left: calc(100% - ( 100%/3) );
	}
	.gallery--count-5 .gallery__item-4 {
	    height: 50%;
	    width: calc(100% / 3);
	    left: calc(100% / 3);
	    top: 50%;
	}
	.gallery--count-5 .gallery__item-5 {
	    height: calc(100%/2);
	    width: calc(100% / 3);
	    left: calc(100% - ( 100%/3) );
	    top: calc(100%/2);
	}

}

@media only screen and (min-width: 800px) {

	.gallery--count-4 {
		height: 600px;
	    position: relative;
	}
	.gallery--count-4 .gallery__item-1 {
	    height: 50%;
	    width: calc(100% / 2);
	}
	.gallery--count-4 .gallery__item-2 {
		height: 50%;
		width: calc(100% / 2);
		left: calc(100% / 2);
	}
	.gallery--count-4 .gallery__item-3 {
	    height: calc(100% / 2);
	    width: calc(100% / 2);
		left: 0;
		top: 50%;
	}
	.gallery--count-4 .gallery__item-4 {
	    height: 50%;
	    width: calc(100% / 2);
	    left: calc(100% / 2);
	    top: 50%;
	}

}

@media only screen and (min-width: 800px) {

	.gallery--count-3 {
		height: 550px;
	    position: relative;
	}
	.gallery--count-3 .gallery__item-1 {
		height: 100%;
		width: calc(100% - (100% / 3 ));
	}
	.gallery--count-3 .gallery__item-2 {
		height: 50%;
		width: calc(100% / 3);
		left: calc(100% - (100% / 3 ));
	}
	.gallery--count-3 .gallery__item-3 {
		height: calc(100% / 2);
		width: calc(100% / 3);
		left: calc(100% - (100% / 3 ));
		top: 50%;
	}

}

@media only screen and (min-width: 800px) {

	.gallery--count-2 {
		height: 450px;
	    position: relative;
	}
	.gallery--count-2 .gallery__item-1 {
		height: 100%;
		width: 50%;
	}
	.gallery--count-2 .gallery__item-2 {
		height: 100%;
		width: 50%;
		left: calc(100% - (100% / 2 ));
	}

}

@media only screen and (min-width: 800px) {

	.gallery--count-1 {
		height: 600px;
	    position: relative;
	}
	.gallery--count-1 .gallery__item-1 {
		height: 100%;
		width: 100%;
	}

}*/




/*
 * Article company
 */

.company-logo {
	margin-bottom: 2em;
}
.company-logo img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

article.company-post {
	background:#fff;
	padding:1.5em;
	border-bottom:none;
	position:relative;
}

article.company-post .logo {
	background:#fff;
	float:left;
	margin:0 0 1em 0;
	border-radius:4px;
	max-width:200px;
	width:100%;
}

article.company-post .placeholder {
	background:#fff;
	display:block;
	padding:2em;
}

article.company-post p {
	margin:0 0 1.5em 0;
}

article.company-post ul {
	margin:0;
}

article.company-post li {
	font-size:0.85em;
	margin:0;
}

article.company-post li:first-child {
	border-top:none;
}

.company .website {
	font-size:0.85em;
}

.company .factoring-type {
	font-size:0.85em;
	margin-top:0.1em;
	margin-bottom:0;
}

article.company-post .link {
	display:inline-block;
	margin:0.2em 0 0 0;
	font-weight:bold;
}

.companyinfo {
	font-size:0.85em;
}

.our_services p {
	font-size:0.7em;
}

/*.toggle-company-info {
	font-size:0.8em;
	padding:10px 0;
	color:#68bd45;
	font-weight:600;
	display:block;
	cursor:pointer;
}

.toggle-company-info span {
	display:inline-block;
	width:15px;
	height:15px;
	background:url('lib/img/toggle-company-info.png');
	margin-right:10px;
	position:relative;
	top:2px;
}

.inlinesvg .toggle-company-info span {
	background:url('lib/img/toggle-company-info.svg');
}*/

.company-name {
	margin-bottom:0em;
	color:#383c40;
}


.company-post .read-more-link {
	display:block;
	margin-top:0.5em;
	font-size:0.8em;
}


.company-post .website-link a {
	color:#68bd45;
}

.company-profile-link .btn {
	margin-bottom:0;
	margin-top:10px;
}

.company-profile-link a {
	float:right;
}

/*
 * Become a member!
 */ 

.validation_message {
	display: block;
	padding: 5px;
	background: #e74c3c;
}

.form-wrapper {
	background: #eee;
}
.ginput_container textarea,
.ginput_container input {
	background: white;
	display: block;
	color: #434343;
	padding: 25px 15px;
	border: none;
	font-size: 1.2rem;
	border-radius: 5px;
	font-weight: 400;
}
.ginput_container textarea {
	padding: 15px;
}

.ginput_container textarea:focus,
.ginput_container input:focus {
	border: none !important;
}

.gfield_label {
	color: white;
}
.gform_wrapper .top_label .gfield_label {
	font-size: 1.1em;
	margin: .5em 0 0 0;
}
.validation_error {
	display: none;
}

/*
 * Single company
 */

.company-single {
	float:right;
}

.company-single .logo {
	background:#fff;
	padding:2em 0;
	margin:0 0 2em 0;
	text-align:center;
}

.company-single .logo img {
	max-width:200px;
}

.company-single h3 {
	margin-top:25px;
}

.company-single .h6 {
	margin-top:20px;
}

.company-single ul {
	margin:0;
}

.company-single p {
	margin:0;
}

.clickable {
	cursor:pointer;
}

.clickable:hover a {
	color:#50b8e8;
}

.clickable .readmore:hover {
	color:#383c40;
}

.sidebar-info ul {
	margin-bottom:0;
}

.sidebar-info ul li {
	margin:0 0 .5em 0
}

.sidebar-info ul li p {
	font-size:0.8em;
}

.mid-row {
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	margin:1.5em auto;
	padding-top:1.5em;

}

.single-companies .logo-container {
	background:#fff;
	text-align:center;
	padding: 0;
}

.single-companies .logo-container img {
	max-width: 100%;
}

.back-link {
	padding-top:1.5em;
	margin-top:1.5em;
	border-top:1px solid #eee;
}

.back-link-top {
	padding-bottom:1.5em;
	margin-bottom:1.5em;
	border-bottom:1px solid #eee;
}

.back-link-top a {
	float:right;
}

.contact-info {
	margin-top: 10em;
}

.about-us ul {
	list-style: none;
	margin-top: .5em;
}
.about-us li {
	margin: 0;
}

img.shadow {
	
}

/*
 * Sticky sidebar
 */

.sticky {
	/*position:fixed;*/
}

/*
 * Background Video
 */
.section-darkener {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 40, .2);
	z-index: 10;
}

.bgvideo {
	position:relative;
	overflow:hidden;
	background: url(lib/img/video_bg.jpg) center center no-repeat;
	background-size: cover;
}

.bgvideo a {
	color:#fff;
	font-weight:bold;
}

.bgvideo a:focus,
.bgvideo a:hover {
	color:#f5e514;
}

.bgvideo .holder {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 0 0 0;
	text-align: center;
	color: #fff;
	z-index: 20;
}
.bgvideo .holder .content {
	padding: 0 !important;
	
}

.bgvideo .content {
	position:relative;
	padding: 6em 0;
	z-index:400;
}

.video-text {
	position: relative;
	top: -.5em;
}
.video-text p {
	font-size: .8em;
}

.top-section .video-text p {
	font-size: 1.3rem;
}
@media(max-width: 680px) {
	.top-section .video-text p {
		font-size: 1.3rem;
		line-height: 1.8rem;
		margin: 0 auto 0 auto;
		padding: .5em;
	}
}

.bgvideo .video-title {
	margin:0 0 0.2em 0;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.2);
}

.bgvideo .video-text {
	position: relative;
	top: -.5em;
	padding:0 15%;
	font-size:1.7em;
	font-weight: 500;
	text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.5);
}

.bgvideo .video-text p {
	margin:0 0 1em 0;
	line-height: 1.3em;
}

.bgvideo .darr {
	width:75px;
	height:75px;
	margin:0 auto;
	display:block;
	background: url('lib/img/darr.png');
	background-repeat:no-repeat;
	z-index:2000;
}

.inlinesvg .bgvideo .darr {
	background: url('lib/img/darr.svg');
}


#bgVideo {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width:100%;
}

.excludedplatforms #bgVideo {
	background-image: url('lib/media/factoring.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

/*.circle {
	position:absolute;
	width:1190px;
	height:1190px;
	background-repeat:no-repeat;
	background-size:cover;
}

.circle-1 {
	top:-500px;
	left:-500px;
	background-image: url('lib/img/circle-1.png');
	z-index:200;
}

.circle-2 {
	top:250px;
	left:-500px;
	background-image: url('lib/img/circle-2.png');
	z-index:300;
}

.circle-3 {
	top:-400px;
	right:-700px;
	background-image: url('lib/img/circle-3.png');
	z-index:100;
}*/


#videopuff {
	background:#383c40;
	background:rgba(56, 60, 64, 0.7);
	position:absolute;
	bottom:1.5em;
	right:1.5em;
	width:40%;
	max-width:500px;
	text-align:left;
	display:none;
	z-index:1000;
}

#videopuff h3 {
	line-height:1.2em;
	font-size:1.1em;
}

#videopuff p {
	font-size:0.8em;
	margin-bottom:0;
}

.videopuff {
	margin-bottom:0;
}

.single-puff {
	padding:0.8em;
}

#videopuff li {
	margin-bottom:0;
}

#videopuff .close {
	position:absolute; 
	top:0; 
	right:0; 
	z-index:400;
	background:#383c40;
	height:20px;
	width:20px;
}

#videopuff .flex-direction-nav {
	display:none;
}

#videopuff .flex-control-nav {
	width:auto;
	position:absolute;
	top:1em;
	right:1em;
}

#videopuff .flex-control-nav li {
	display:inline-block; 
	*display:inline; 
	zoom:1; 
	margin:0 0.2em;
}

#videopuff .flex-control-nav li:first-child {
	margin-left:0;
}

#videopuff .flex-control-nav li a {
	display:block; 
	width:10px; 
	height:10px; 
	border:1px #68bd45 solid; 
	text-indent:-9999px; 
	-webkit-border-radius:100%; 
	-moz-border-radius:100%; 
	border-radius:100%; 
	opacity:0.5; 
	-moz-opacity:0.5; 
	filter:alpha(opacity=50);
	padding-right:0.5em;
}

#videopuff .flex-control-nav li a:hover, #videopuff .flex-control-nav .flex-active {
	background:#68bd45;
}

@media only screen and (min-width: 641px) {

	.bgvideo .video-text p {
		line-height: 1.6em;
	}

}

/*
 * Stellar
 */

.stellar {
	background-repeat:no-repeat;
	background-position:center 0;
	background-size:cover;
}

.stellar h1 {
	color:#fff;
}

.stellar-default-image {
	background-image: url('lib/media/factoring.jpg');
}

/*
 * Sections
 */

.section {
	position:relative;
	padding:3.5em 0;
	z-index:400;
}

.space {
	padding-top:3em;
	padding-bottom:3em;
}

.space.large {
	padding-top: 7em;
	padding-bottom: 7em;
}


#factoring-in-sweden .space {
	padding-bottom:0;
}

.gray {
	background:rgba(240, 243, 244, 0.8); /*#76848c*/
	background: rgba(240, 243, 244, 0.8);
	color:#fff;
}

.gray h2 {
	color:#f5e514;
}

.white {
	background:#fff;
}

.lightblue {
	background:#f4f8fa;
}

/*
 * About
 */
.btn-factoring_in_sweden {
	text-align: center;
	padding:1em 0 2em 0;
}

/*
 * Market
 */ 

.market-stats .stats {
	height:270px;
}

.diagram-2 .stats {
	height:150px;
}

.market-stats .stats .bar .year {
	color:#383c40;
}

.stats_text p {
	font-size:0.8em;
}

.warning-list {
	background:#fff;
	text-align:center;
	margin: 0px auto 2em auto;
	font-size:0.8em;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.10);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.10);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.10);
	padding:1.5em;
}

.warning-list img {
	margin-bottom:1em;
}

.warning-list p {
	margin-bottom:0;
}

.warning-list a {
	font-weight: bold;
}


/*
 * About the association
 */

#about-the-association {
	
}

.stats {
	width:100%;
	height:370px;
	margin-bottom:4.5em;
}

.stats .bar {
	position:relative;
	float:left;
	width:10%;
	margin:0 5%;
	text-align:center;
	height:inherit;
}

.stats .bar .number {
	position:absolute;
	top:-2em;
	left:-0.3em;
	width:100%;
	font-size:0.8em;
	font-weight:bold;
}

.stats .bar .fill {
	position:absolute;
	height:20px;
	width:100%;
	bottom:0;
	background:#4eb8e8;
	-webkit-transition: height 0.8s cubic-bezier(.2, .8, .4, 1);
	-moz-transition: height 0.8s cubic-bezier(.2, .8, .4, 1);
	transition: height 0.8s cubic-bezier(.2, .8, .4, 1);
}

.stats .bar .year {
	position:absolute;
	bottom:-2em;
	width:100%;
	color:#f5e514;
	font-size:1.3em;
}

/*
 * Factoring companies
 */

#factoring-companies {
	padding-bottom:2em;
}

.factoring-companies {
	margin:1.5em 0 1.5em 0;
}

.factoring-companies .logo {
	display:inline-block;
	vertical-align:middle;
	max-width:150px;
	margin:0 1.5em 2em 1.5em;
}

.page-template-template-factoring-companies-php .page-content {
	padding-top:1.5em;
}

.company .columns {
	word-wrap:break-word;
}
.column {
	min-height: 1px;
}

.result-headers {
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9em;
}
.result-headers .price {
	text-align: right;
	padding-right: 35px;
}



.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	background-color: transparent !important;
	border-top: none !important;
	border-bottom: none !important;
}

/*
 * News & jobs
 */

#posts {
	padding:0 1em;
}

.article-header {
	background: #383c40;
}

#posts article {
	padding-top:1.5em;
	margin-top:1.5em;
	border-top:1px solid #EBECEA;
}

#posts article p {
	margin:0;
	font-size:0.9em;
}

#posts article:first-child {
}

#posts .table-cell {
	vertical-align:top;
	padding-left:2em;
	padding-right:2em;
	border-left:1px solid #EBECEA
}

#posts .table-cell:first-child {
	border-left:none;
}

#posts .btn {
	margin:2em 0 0 0;
}

.related_container {
	display:inline-block;
	overflow:hidden;
	border-bottom:1px solid #EBECEA;
}

.related_container h2 {
	border-bottom:1px solid #EBECEA;
	font-size:1.8em;
	padding-bottom:0.5em;
	font-weight:400;
	margin-bottom:0;
}

.related_container h3 {
	font-size: 1.4em;
	padding-top:1.5em;
}

/*
 * Footer
 */

#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width:  100%;
	background:  white;
	z-index: 2000;
	color: #fff;
	padding: 0;
	font-size: 1.1em;
	font-weight: 500;
}

#footer .h2 {
	color: #fff;
}

#footer a {
	color: #F88E4F;
}

#footer a:hover {
	color: #666;
} 

#footer ul li {
	margin:0 0 0.3em 0;
}

#footer form {
	margin:2em 0 0 0;
}

#footer input[type="text"],
#footer textarea {
	padding:0.8em 0;
	color:#76848c;
	border:none;
	border-bottom:2px solid #76848c;
	border-color:rgba(118, 132, 140, 0.8);
}

#footer input[type="text"]:focus,
#footer textarea:focus {
	color:#fff;
	border-bottom-color: rgb(112, 178, 33);
}

#footer textarea {
	height:100px;
}

#footer input[type="submit"]{
	margin-top:2.2em;
	border-color:#76848c;
	border-color:rgba(118, 132, 140, 0.8);
	color:#76848c;
	background: transparent;
}

#footer input[type="submit"]:focus,
#footer input[type="submit"]:hover {
	background:#fff;
	color:#383c40;
	border-color:#fff;
}

#bottom {
	width: 100%;
	padding: 1.5em 0;
	margin: 0;
	background: white;
	color: #888;
}

#bottom p {
	margin: 0;
}

/*
 * Social
 */

#footer .social {
	margin:0;
}

#footer .social li {
	display:inline-block;
	*display:inline;
	margin:0 0 0 1em;
	vertical-align:middle;
	-webkit-backface-visibility:hidden;
}

#footer .social li a {
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
}

#footer .social li a:hover {
	
}

#footer #open {
	color: white;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.icon-facebook,
.icon-twitter,
.icon-linkedin {
	display:block;
	width:22px;
	height:22px;
	background-repeat:no-repeat;
}

.icon-facebook {
	background-image: url('lib/img/icon-facebook.png');
}

.inlinesvg .icon-facebook {
	background-image: url('lib/img/icon-facebook.svg');
}

.icon-twitter {
	background-image: url('lib/img/icon-twitter.png');
}

.inlinesvg .icon-twitter {
	background-image: url('lib/img/icon-twitter.svg');
}

.icon-linkedin {
	background-image: url('lib/img/icon-linkedin.png');
}

.inlinesvg .icon-linkedin {
	background-image: url('lib/img/icon-linkedin.svg');
}

/*
 * Forms
 */

::-webkit-input-placeholder {
	color: #76848c;
	text-transform:uppercase;
	letter-spacing:0.1em;
}

::-moz-placeholder {
	color: #76848c;
	text-transform:uppercase;
	letter-spacing:0.1em;
}

:-moz-placeholder {
	color: #76848c;
	text-transform:uppercase;
	letter-spacing:0.1em;
}

:-ms-input-placeholder { 
	color: #76848c;
	text-transform:uppercase;
	letter-spacing:0.1em;
}

input,
textarea {
	-webkit-font-smoothing: antialiased;
}

form {
	margin:0;
}

label {
	display: block;
}

input,
textarea {
	display: block;
	width: 100%;
	padding: 1em 1em;
	margin: 0 0 1.2em 0;
	background: transparent;
	border:1px solid #B7B9B9;
	color:#76848c;
	outline:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

textarea {
	max-width: 100%;
	height: 120px;
	max-height: 200px;
}

select {
	font-size:0.8em;
}

input:focus,
textarea:focus {
	color:#383c40;
}

.gform_footer {
	text-align: center;
}

input[type="submit"] {
	display:inline-block !important;
	background: #F88E4F;
	padding:0.7em 1.5em;
	margin:0 0 1.5em 0;
	color: white;
	text-transform: uppercase;
	font-family: "proxima-nova", sans-serif;
	font-size: .9em;
	font-weight: 700;
	border-radius:0;
	transition: .2s ease-in-out all;
	width: auto;
	border-radius: 30px;
}

input[type="submit"]:hover {
	background: #d35400;
}

input[type="submit"]:active,
input[type="submit"]:focus {
	outline:none;
}

.mc-field-group label {
	margin-bottom:10px;
}

.mc-field-group .email {
	color:#fff;
}

#mc-embedded-subscribe-form input[type="submit"]{
	margin-top:0;
	border:1px solid #fff;
	color:#fff;
}

/*
 * Carousel
 */

#carousel-wrapper {
	position:relative;
	padding:1em 0 2em 0;
}

#carousel {
	text-align:center;
}

#carousel div {
	width:200px;
	height:125px;
	margin:0 1em;
	float:left;
}

#carousel-wrapper .next,
#carousel-wrapper .prev {
	position:absolute;
	top:80%;
	margin:-12px 0 0 0;
	width:50px;
	height:50px;
}

#carousel-wrapper .prev {
	left:3%;
	background:url('lib/img/prev-btn.png');	
}

#carousel-wrapper .next {
	right:3%;
	background:url('lib/img/next-btn.png');	
}

.inlinesvg #carousel-wrapper .prev {
	background:url('lib/img/prev-btn.svg');	
}

.inlinesvg #carousel-wrapper .next {
	background:url('lib/img/next-btn.svg');	
}

/*
 * Vektor form
 */

.vektor-form input[type="submit"]{
	width:100%;
}

label.error {
	display:none!important;
}

input.error,
textarea.error {
	border-color: #f23d3d !important;
}

.content .btn-small {
	font-size: 1em;
}

.error-message-wrap {
	padding-top: 1.5em;
	text-align: center;
	display: none;
}

.error-message {
	position: relative;
	background: white;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	color: #333;
	padding: .5em 1em .5em 3em;
	font-size: 1em;
	border-radius: 10px;
	display: inline-block;
	margin: 0 auto;
}
.error-message:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 10px;
    width: 35px;
    height: 35px;
	background: url(../../../media/menu-icon-omoss.svg) no-repeat center center;
}

/*
 * Buttons
 */

.btn {
	display: inline-block;
	position: relative;
	padding: 1.1em 3.85em 1em 2.25em;
	line-height: 1.4em;
	background: #F88E4F;
	color: #fff;
	font-family: "proxima-nova", sans-serif;
	outline :none;
	border-radius: 4em;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	z-index: 10;
}

@media(max-width: 680px) {
	.btn.btn-uppercase {
		margin-bottom: .5em;
		min-width: 195px;
	}
}

.btn__icon {
	width: 30px;
    height: 30px;
    background: white;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    right: .8em;
    color: #F88E4F;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.2);
}
.btn__icon i {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.btn__icon i.smaller {
	font-size: 1rem;
	line-height: 1rem;
	top: 50%;
}

.btn.btn-large,
.btn.intro-cta {
	text-transform: uppercase;
	font-size: .9em;
	font-weight: 700;
	margin: 2em 0 0 0;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.2);
}

.btn:focus,
.btn:hover {
	color: white !important;
	background: #d35400;
}

.btn--inset {
	background: #E47F43;
	-webkit-box-shadow: inset 0px 1px 5px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    inset 0px 1px 5px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         inset 0px 1px 5px 0px rgba(50, 50, 50, 0.35);
}

.btn-uppercase {
	text-transform: uppercase;
    font-size: .9em;
    font-weight: 700;
}

.btn-yellow {
	border-color:#f5e514;
	color:#f5e514;
}

.btn-yellow:focus,
.btn-yellow:hover {
	border-color:#fff;
	color:#fff;
}

.btn-gray {
	border-color:#76848c;
	color:#76848c;
}

.btn-#fff {
	border-color:#fff;
	color:#fff;
}

.btn-small {
	padding: .28em 2.2em .25em 1.05em;
    font-size: 0.85em;
    font-weight: 500;
}

.btn-small .btn__icon {
	width: 17px;
    height: 17px;
    right: .5em;
}

/*
 * Borders
 */

.remove-border-top {
	border-top:none;
}

/*
 * WordPress Generated Classes
 * See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
	margin: 0 1.5em 1.5em 0;
}

.alignright {
	float: right;
	margin: 0 0 1.5em 1.5em;
}

#header.nav-open {
	overflow: visible;
}

.nav-open #nav {
	max-height: none !important;
	height: auto !important;
	background: white;
	top: 100px !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #eee;
	transition: .2s ease top;
}
body.state--scrolled .nav-open #nav {
	top: 70px !important;
}

@media(max-width: 640px) {
	body.state--scrolled .nav-open #nav {
		top: 50px !important;
	}		
}


.nav-open #nav ul {
	margin: 0 !important;
}
.nav-open #nav ul li {
	display: block;
	float: left;
	width: 33.333333%;
	min-height: 90px;
	position: relative;
	border-left: 1px solid #eee;
}
.nav-open #nav ul li a {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	padding-top: 50px;
	text-align: center;
	transition: none;
}
.nav-open #nav ul li a:after {
	top: 12px;
	transition: none;
}

/*
 * Explorer
 */

.lt-ie9 {
	
}

.lt-ie9 .inline-block-row {
	font-size:inherit;
}

.lt-ie9 .inline-block-row {
	display:block;
	font-size:inherit;
}

.lt-ie9 #header {
	top:45px;
}

.lt-ie8 {
	
}

.lt-ie7 {
	
}

.chromeframe {
	position:fixed;
	top:0;
	width:100%;
	margin: 0;
	padding: 0.5em;
	background: #111;
	color: #fff;
	text-align: center;
	font-weight: bold;
	z-index:9999;
}

.chromeframe a {
	color: #fff;
	text-decoration: underline;
}

.chromeframe a:hover {
	color: #ccc;
}

/* Medium Displays: 1024px and down (Tablet) */
@media only screen and (max-width: 1124px) {
	
	h1, .h1 {
		font-size: 3em;
	}
	
	h2, .h2 {
		font-size: 2.8em;
	}
	
	h3, .h3 {
		font-size: 2.6em;
	}
	
	h4, .h4 {
		font-size: 1.8em;
	}
	
	h5, .h5 {
		font-size: 1.6em;
	}
	
	h6, .h6 {
		font-size: 1.2em;
	}
	
	.search-form-header {
		display:none;
	}
	
	#header {
		/*padding-top:1.5em;*/
	}
	
	.section {
		padding:4em 0;
	}
	
	.article-header {
		padding:4em 0 2em 0;
	}
	
	.article-content {
		padding:2em 0;
	}
	
	.page-header {
		padding:8em 0 2.5em 0;
	}
	
	.stellar {
		background-position:center center!important;
	}
	
	.sidebar {
		border-left:none;
	}
	
	.sidebar-info h3 {
		font-size:1.3em;
	}
	
	.sidebar-info ul li {
		font-size:0.8em;
	}
	
	.sidebar ul li > a {
		padding:0.8em;
		font-size:0.9em;
	}
	
	.sidebar ul .current_page_item > a,
	.sidebar ul .current_page_ancestor > a {
		border-left-width:6px;
	}
	
	#posts {
		display:block;
	}
	
	#posts .btn {
		margin:1em 0 0 0;
	}
	
	#posts .table-cell {
		display:block;
		border-left:none;
		padding:1.5em 0 0 0;
		margin:1.5em 0 0 0;
		border-top:1px solid rgba(103, 116, 123, 0.1);
	}
	
	#posts .table-cell:first-child {
		padding-top:0;
		margin-top:0;
		border-top:none;
	}
	
	#posts .table-cell:first-child {
		padding-top:2em;
	}
	
	#posts article {
		margin-top:1em;
		padding-top:1em;
	}
	
	#videopuff {
		width:40%;
		bottom:0.5em;
		right:0.5em;
	}
	
	#videopuff p {
		font-size:0.7em;
	}
	
	#videopuff p a {
		font-size:1em;
	}
	
	.bgvideo .video-text {
		padding: 0 5%;
	}

	.single-puff {
		padding:0.8em;
	}
	
	.tablepress {
		font-size:0.6em;
	}
	
	.member-sigill {
		margin-bottom:10px;
	}
	
	article.company-post .logo {
		max-width:70px;
	}
	
	.single-companies .last-row, .single-companies .mid-row {
		font-size:0.8em;
	}
	
	.become-member .sigill {
		width:100px;
		height:100px;
	}
	
	.become-member .sigill img {
		max-width:75px;
	}
	
	.become-member .sigill a {
		font-size:0.5em;
		top:10px;
		
	}
	
	
	.search-form-advanced .bisnode_rating_container {
		padding-top:1em;
	}
	
	.search-form-advanced .factoringtyp {
		display:block;
		margin-bottom:0;
	}
	
	.search-form-advanced .offer_services {
		margin-top:1em;
	}
	
	.company-post .read-more-link {
		font-size:0.9em;
	}
	
	.member-sigill {
		display:none;
	}
	

	
}

@media only screen and (max-width: 750px) {
	#logo {
		float:none;
	}
	
	#nav {
		max-height: 0;
		overflow: hidden;
		float: none;
		margin: 0;
	}
	
	.nav-open #nav {
		max-height: 250px;
	}
	
	#nav ul {
		margin: 1em 0 0 0;
	}
	
	#nav ul li {
		display: block;
		margin: 0;
	}
	
	#nav ul li a {
		padding: 0.3em 0;
	}
	
	#toggle {
		width: 25px;
		padding: 0.8em 0;
		display: block;
		position: absolute;
		top: 1.1em;
		right: 2em;
		cursor: pointer;
	}
	
	#toggle span {
		display: block;
		width: 100%;
		height: 2px;
		margin: 4px 0;
		background: #383c40;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
}


/* Medium Displays: 850px and down */
@media only screen and (max-width: 850px) {

	.related_container .medium-4 {
		width:100%;
		float:none;
	}
}

/* Medium Displays: 823px and down */
@media only screen and (max-width: 823px) {

	.become-member {
		top:24em;
	}
}

/* Medium Displays: 850px and down */
@media only screen and (max-width: 700px) {
	
	#videopuff {
		display: none !important;
	}
	
}

/* Small Displays: 641px and down (Mobile) */
@media only screen and (max-width: 641px) {
	
	body {
		font-size:16px;
	}
	
	h1, .h1 {
		font-size: 2.2em;
	}
	
	h2, .h2 {
		font-size: 2em;
	}
	
	h3, .h3 {
		font-size: 1.8em;
	}
	
	h4, .h4 {
		font-size: 1.6em;
	}
	
	h5, .h5, .sidebar h3 {
		font-size: 1.4em;
	}
	
	h6, .h6 {
		font-size: 1.2em;
	}
	
	.bgvideo .video-text {
		padding: 0 5%;
	}

	.bgvideo .holder {
		position: relative;
	}
	.bgvideo .content {
		padding: 0;
	}
	.section-darkener {
		
	}
	
	.result-caret {
		display: none;
	}
	.result-headers {
		display: none;
	}

	.table,
	.table-row,
	.table-cell {
		display:block;
	}
	
	#header {
		padding: 0.2em 0;
	}
	
	#logo {
		float: left;
		width: 150px;
		height: 40px;

	}
	
	#toggle {
		top: 50%;
		transform: translateY(-50%);
	}
	
	#content {
		
	}
	
	.error404 #content {
		padding-top:3em;
	}

	
	.bgvideo .holder {
		padding: 0;
	}
	
	.bgvideo .video-text {
		padding:0 5%;
	}
	
	.bgvideo .darr {
		width:50px;
		height:50px;
		background-size:100%!important;
	}
	
	.circle {
		width:500px;
		height:500px;
	}
	
	.circle-1 {
		top:-250px;
		left:-250px;
	}
	
	.circle-2 {
		left:-250px;
		top:150px;
	}
	
	.circle-3 {
		right:-400px;
		top:-100px;
	}
	
	.section {
		padding:2em 0;
	}
	
	.space {
		/*padding-top:0;*/
		padding-bottom:2em
	}
	
	.article-header {
		padding:5.5em 0 2em 0;
	}
	
	.article-content {
		padding:2em 0;
	}
	
	.page-header {
		padding:5.5em 0 2.5em 0;
	}
	
	.page-header hr {
		margin-top:1em;
		margin-bottom:1em;
	}
	
	.page-content {
		padding:2em 0;
	}
	
	.page-content .content {
		
	}
	
	article.post .thumbnail {
		width:75px;
		height:75px;
	}
	
	.sidebar {
		border-left:none;
		border-right:none;
	}
	
	.sidebar-info {
		margin-top:25px;
	}
	
	.sidebar-info .sidebar-content:first-child {
		border-top:1px solid #EBECEA;
		padding-top:1.5em;
	}
	
	.sidebar-info .sidebar-content:last-child {
		border-bottom:none;
	}
	
	
	.sidebar-info ul li {
		font-size:1em;
	}
	
	.stats {
		
	}
	
	.stats .bar {
		
	}
	
	.factoring-companies {
		margin:1.5em 0 0 0;
	}
	
	#posts {
		padding:0 15px;
	}
	
	.sidebar .btn {
		padding:0.3em 1.2em;
	}
	
	#footer {
		padding:2em 0 0 0;
	}
	
	#footer input[type="submit"] {
		margin-top:0;
	}
	
	#footer .social {
		margin:0.5em 0 0 0;
	}
	
	#bottom {
		margin:2em 0 0 0;
	}
	
	#bottom .text-left,
	#bottom .text-right {
		text-align:center!important;
	}
	
	article.company-post .logo {
		max-width:75px;
	}
	
	article.company-post .website {
		font-size:0.9em;
		margin-bottom:5px;
	}
	
	article.company-post li {
		margin:5px 0;
	}
	
	article.company-post li:first-child {
		margin:0;
	}
	
	article.company-post .toggle-company-info {
		font-size:0.75em;
	}
	
	.company-name {
		font-size:1em;
	}
	
	.company-profile-link a {
		float:none;
		margin-top:10px;
	}
	
	.carousel-inner .next,
	.carousel-inner .prev {
		top:75%;
	}
	
	.single-companies .logo {
		margin-bottom:1.5em;
	}
	
	.single-companies .last-row, .single-companies .mid-row {
		font-size:1em;
		border:none;
	}
	
	.mid-row {
		margin:0;
		padding:0;
	}
	
	.single-companies .logo-container {
		max-width:100%;
		margin:0px auto;
	}
	
	.single-companies .contact-information {
		margin-bottom:0;
	}
	
	.search-form .search-input {
		width:80%;
		border-right:1px solid #68bd45;
	}
	
	
	.search-form .search-submit {
		width:20%;
	}
	
	.topborder {
		border-top:1px #d3e4ef solid;
		padding-top:1em;
		margin-top:1em;
	}

	.search-form-advanced .offer_services {
		margin-top:0.5em;
	}
	
	.companies-search-form a {
		position:relative !important;
		margin-top:2em;
		display: block;
	}
	
	.become-member {
		display: none;
	}
	
	.logos li {
		line-height:inherit;
	}
	
}

/* Small Displays: 430px and down  */
@media only screen and (max-width: 430px) {

	.carousel-inner .next,
	.carousel-inner .prev {
		top:78%;
	}
	
	.carousel-inner .next {
		right:1%;
	}
	
	.carousel-inner .prev {
		left:1%;
	}
	
	.warning-list img {
		display:none;
	}

}



/* Landscape */
@media only screen and (orientation: landscape) and (max-width: 641 px) {
	
	.read-more-link {
		margin-bottom:10px;
	}

}

/* Portrait */
@media only screen and (orientation: portrait) and (max-width: 641px) {
	
	#factoring-companies .btn {
		font-size:0.8em;
	}
	
	.form-title {
		font-size:0.7em;
	}
	
	.back-link {
		font-size:0.7em;
		text-align: center;
		float:none;
	}
	
	.back-link-top {
		display:none;
	}
	
	.read-more-link {
		margin-bottom:10px;
	}
}

/*
 * Print
 */

@media print {
	
	.hide-on-print {
		display:none;
	}
	
	#header {
		display:none;
	}
	
	#content {
		padding:0;
	}
	
	.page-header {
		padding:2em 0;
		margin-top:0;
	}
	
	.sidebar {
		display:none;
	}
	
	#footer {
		position:relative;
		left:inherit;
		bottom:inherit;
	}
	
}

#gmaps-company-map {
	min-height: 600px;
}
@media(max-width: 680px) {
	#gmaps-company-map {
		min-height: 60vh;
		max-height: 60vh;
	}
}