@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
 * Login 
 */

html,
body.login {
	background:#FBFBF8;
}

body.login {
	font: 14px / 1.4em "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999;
	letter-spacing:0.02em;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

#login {
	width:100%;
	max-width:320px;
	padding:8% 15px 0 15px;
}

.login h1 a {
	background-image: url('../img/vektorgrafik-logo.png');
	background-size: inherit;
	background-position: center top;
	background-repeat: no-repeat;
	width:200px;
	height:35px;
	display:block;
	margin:0 auto 2em auto;
}

.inlinesvg h1 a {
	background-image: url('../img/vektorgrafik-logo.svg');
}

/*
 * Form 
 */

input {
	-webkit-font-smoothing: antialiased;
}

input[type="text"],
input[type="password"] {
	background:transparent;
}

input[type="submit"] {
	font-weight:bold;
}

.login form {
	background: transparent;
	padding:0;
	margin:0;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:none;
}

.login form:after { 
	content: "\0020"; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.login label {
	color:#999;
}

.login form .input,
.login input[type="text"] {
	background:#f3f3f2;
	margin:5px 0 20px 0;
	padding:8px;
	border:none;
	font-weight:200;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.1);
}

.login form .input:focus,
.login input[type="text"]:focus {
	border:none;
	-webkit-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.login form .forgetmenot {
	float:none;
}

/*
 * UI 
 */

.wp-core-ui .button.button-large,
.wp-core-ui .button-group.button-large .button {
	display: inline-block;
	float:none;
	padding: 1.2em 1.2em;
	margin:1.5em 0 2em 0;
	background:transparent;
	color: #4ae4ac;
	font-size:11px;
	font-weight:bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .4em;
	text-indent: .4em;
	height:auto;
	outline:none;
	line-height:100%;
	border:3px solid #4ae4ac;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition: background .3s ease, color .3s ease, border .3s ease;
	-moz-transition: background .3s ease, color .3s ease, border .3s ease;
	transition: background .3s ease, color .3s ease, border .3s ease;
	
}

.wp-core-ui .button.button-large:hover {
	background:#4ae4ac;
	color:#fff;
}

.wp-core-ui .button.button-large:active,
.wp-core-ui .button.button-large:focus {
	border: 3px solid #21da97;
	border-top-width: 4px;
	border-bottom-width: 2px;
	background-color: #21da97;
	color: #fBfBf8;
}

/*
 * Links 
 */

.login #nav,
.login #backtoblog {
	padding:0;
	margin:0 0 1em 0;
}

.login #nav a,
.login #backtoblog a {
	color:#999;
}

.login #nav a:hover,
.login #backtoblog a:hover {
	color:#4ae4ac;	
}

div.updated,
.login .message,
#login_error {
	margin:0 0 20px 0;
	font-size:14px;	
}